#bulletin-board .posts-header, #bulletin-board .posts .post, #bulletin-board .no-posts {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#bulletin-board .posts-header div, #bulletin-board .posts .post div {
    display: table-cell;
    padding: 8px;
    border-bottom: 1px solid #f2f2f2;
}

#bulletin-board .posts-header {
    background-color: #f4f4f4;
}

#bulletin-board .posts .post:nth-child(odd) {
    background-color: #f9f9f9;
}

#bulletin-board .no-posts {
    display: table-cell;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.btn-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}
